STAGING_WORKER_NAME=replace-with-staging-worker-name
STAGING_D1_DATABASE_NAME=replace-with-staging-database-name
STAGING_D1_DATABASE_ID=replace-with-staging-database-id
STAGING_R2_BUCKET=replace-with-staging-bucket-name
STAGING_URL=https://replace-with-staging-worker-url
